<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <title>México Urbano</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body id="app">
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, id: key %>
    <% end %>
    <%# if user_signed_in? %>
      <%#= link_to "Editar Información", edit_user_registration_path %> 
      <%#= link_to "Salir", destroy_user_session_path, method: :delete %>
    <%# else %>
      <%#= link_to "Entrar", new_user_session_path %>
    <%# end %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>